@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    font-family: "inter";
}
/* container */
.container{
  padding: 3rem;
  width: 100%;
  height: 80%;

 display: flex;
 flex-flow: column;
 gap: 1.5rem;
}

/* input */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    font-family: "inter";
}
.inp{
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
}

/* btn */
.btn{
  width: 15%;
  border-radius: none;
  border: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: white;
  background-color: black;
  cursor: pointer;
}